# Logs
logs
*.log
npm-debug.log*

# (아래 yarn, pnpm, lerna 관련 항목은 삭제합니다)

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.development
.env.production